<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/student/css/common.css">
    <link rel="stylesheet" href="/student/css/header.css">
    <link rel="stylesheet" href="/student/css/nav-bar.css">
    <link rel="stylesheet" href="/student/css/content.css">
    <link rel="stylesheet" href="/student/css/home.css">
    <link rel="stylesheet" href="/student/css/my-course.css">
    <link rel="stylesheet" href="/student/css/exam-info.css">
    <title>Student</title>
</head>

<body>
    <div class="header flex">
        <div class="w-1/2 flex header-init">
            <div class="header-text">EXAMINATION_HUST</div>
            <div class="exam-class pointer">Lớp thi</div>
        </div>
        <div class="w-1/2 flex header-init">
            <div class="w-4/5 username header-text" id="username"></div>
            <div class="user-default flex">
                <img src="/student/lib/image/default-avatar.png" alt="">
            </div>
        </div>
    </div>
    <div class="body">
        <div class="title">
            <div class="title-home">HỆ THỐNG HỖ TRỢ KIỂM TRA ĐÁNH GIÁ</div>
            <div class="title-link" id="titleLink">
                <a class="pointer to-home" id="homeTitle" onclick="toHome()">Home</a>
            </div>
        </div>
        <div class="content flex">
            <div class="nav-bar w-1/5">
                <div class="nav-title">Navigation</div>
                <div class="home flex" id="toHome">
                    <img src="/student/lib/image/arrow-down.PNG" alt="" class="pointer transition2">
                    <div class="to-home pointer" id="linkHome">Home</div>
                </div>
                <div class="dashboard">
                    <div class="flex dashboard-title">
                        <img src="/student/lib/image/dashboard.PNG" alt=""> Dashboard
                    </div>
                    <div class="side-bar">
                        <!-- <img src="/student/lib/image/arrow-right.PNG" alt=""> -->
                        <a class="pointer to-home link-home"><span>HỆ THỐNG HỖ TRỢ KIỂM TRA ĐÁNH GIÁ</span></a>
                    </div>
                    <div class="side-bar pointer" id="toCourse">
                        <img src="/student/lib/image/arrow-down.PNG" id="imgCourse" alt="" class="transform-90 transition2">
                        <a class="to-course" style="vertical-align: top;" id="course"><span>My Course (Kỳ 20211)</span></a>
                    </div>
                    <div class="course-list transition2 d-n" id="courseList">
                    </div>
                </div>
            </div>
            <div class="main-body w-4/5">
                <div class="main-content main-instruction transition2">
                    <div class="main-content-title">Hướng dẫn</div>
                    <div class="instruction">
                        <div class="instruction-init pointer">
                            <img src="/student/lib/image/icon-instruction.PNG" alt="">
<!--                            <a class="pointer">Bài kiểm tra thử nghiệm dành cho sinh viên</a>-->
                        </div>
                        <div class="instruction-init">
                            <img src="/student/lib/image/icon-instruction.PNG" alt="">
                            <span>Sinh viên vui lòng chọn <b>&lt;My Course&gt;</b> trong danh mục bên trái</span>
                        </div>
                        <div class="list-institute">
                            <div class="list-title">Danh sách trường của Đại học Bách Khoa Hà Nội</div>
                            <div class="institute"><a>Trường CNTT&TT</a></div>
                            <div class="institute"><a>Trường kỹ thuật điện - điện tử</a></div>
                            <div class="institute"><a>Trường sư phạm kỹ thuật</a></div>
                        </div>
                    </div>
                </div>
                <div class="main-content main-list-class d-n transition2">
                    <div class="main-content-title">Danh sách lớp kỳ 20211</div>
                    <div class="list-class list" id="classList">
                    </div>
                </div>
                <div class="main-content main-list-exam transition2 d-n">
                    <div class="main-content-title">Đề thi</div>
                    <div class="list-exam list">
                        <!-- <div class="exam pointer"><a>Đề kiểm tra giữa kỳ</a></div>
                        <div class="exam pointer"><a>Đề kiểm tra cuối kỳ mã 1</a></div>
                        <div class="exam pointer"><a>Đề kiểm tra cuối kỳ mã 2</a></div> -->
                    </div>
                </div>
                <div class="main-content main-exam  transition2 d-n">
                    <div class="description">Mô tả đề thi</div>
                    <div class="btn-action">
                        <a class="btn-start pointer" href="exam-question">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    window.history.pushState(null, null, window.location.href);
    window.onpopstate = function() {
        window.history.go(1);
    };
</script>
<script src="/student/js/base.js"></script>
<script src="/student/js/baseAPI.js"></script>
<script src="/student/js/home.js"></script>
<script src="/student/js/class.js"></script>
<script src="/student/js/exam.js"></script>

</html>