<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/student/css/common.css">
    <link rel="stylesheet" href="/student/css/header.css">
    <link rel="stylesheet" href="/student/css/nav-bar.css">
    <link rel="stylesheet" href="/student/css/content.css">
    <link rel="stylesheet" href="/student/css/my-course.css">
    <title>My Course</title>
</head>

<body>
    <div class="header flex">
        <div class="w-1/2 flex header-init">
            <div class="header-text">EXAMINATION_HUST</div>
            <div class="exam-class pointer">Lớp thi</div>
        </div>
        <div class="w-1/2 flex header-init">
            <div class="w-4/5 username header-text">USERNAME</div>
            <div class="user-default flex">
                <img src="/student/lib/image/default-avatar.png" alt="">
            </div>
        </div>
    </div>
    <div class="body">
        <div class="title">
            <div class="title-home">HỆ THỐNG HỖ TRỢ KIỂM TRA ĐÁNH GIÁ</div>
            <div class="title-link">
                <a href="home.html" class="pointer">Home</a> / <a href="my-course.html">My Course</a>
            </div>
        </div>
        <div class="content flex">
            <div class="nav-bar w-1/5">
                <div class="nav-title">Navigation</div>
                <div class="home flex pointer">
                    <img src="/student/lib/image/arrow-down.PNG" alt=""> Home
                </div>
                <div class="dashboard">
                    <div class="flex dashboard-title">
                        <img src="/student/lib/image/dashboard.PNG" alt=""> Dashboard
                    </div>
                    <div class="side-bar pointer">
                        <img src="/student/lib/image/arrow-right.PNG" alt="">
                        <span>HỆ THỐNG HỖ TRỢ KIỂM TRA ĐÁNH GIÁ</span>
                    </div>
                    <div class="side-bar pointer">
                        <img src="/student/lib/image/arrow-right.PNG" alt="">
                        <a href="my-course.html"><span>My Course</span></a>
                        <div class="my-course-init">
                            <div class="side-bar pointer">
                                <img src="/student/lib/image/arrow-right.PNG" alt="">
                                <span>THI HỌC KỲ 20211</span>
                                <div class="subject">
                                    <div class="side-bar pointer">
                                        <b>Kỹ năng mềm</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-bar pointer">
                        <img src="/student/lib/image/arrow-right.PNG" alt="">
                        <span>Course</span>
                    </div>
                </div>
            </div>
            <div class="main-content w-4/5">
                <div class="main-content-title">Đề thi</div>
                <div class="list-exam">
                    <div class="exam pointer"><a>Đề kiểm tra giữa kỳ</a></div>
                    <div class="exam pointer"><a>Đề kiểm tra cuối kỳ mã 1</a></div>
                    <div class="exam pointer"><a>Đề kiểm tra cuối kỳ mã 2</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">4545</div>
</body>

</html>