.main-content .page-header {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding-bottom: 20px;
}

.main-content .page-header .page-header-title .page-title h1 {
    font-size: calc(0.9271875rem + 0.32625vw);
    color: #212529;
}

.main-content .page-content {
    margin-top: 30px;
    padding-left: 20px;
}

.main-content .page-content ul {
    display: flex;
    flex-direction: column;
}

.main-content .page-content ul li a {
    text-decoration: none;
    color: #0f6fc5;
    font-size: 14pt;
}

.main-content .page-content ul li a:hover {
    text-decoration: underline;
}