.main-content .page-header {
    margin-bottom: 0.5rem;
}

.main-content .page-header .page-header-title .page-title h1 {
    font-size: calc(0.9271875rem + 0.32625vw);
    color: #212529;
}

.main-content .anchor-content .page-main-actions {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

.main-content .anchor-content .page-main-actions .page-actions {
    display: flex;
    justify-content: end;
}

.main-content .anchor-content .page-main-actions .page-actions a {
    text-decoration: none;
    color: #fff;
    background-color: #eb5202;
    padding: 10px;
}

.main-content .anchor-content .page-main-actions .page-actions a:hover {
    background-color: #ba4000;
    box-shadow: 0 0 0 1px #007bdb;
}

.main-content .anchor-content .page-main-container {
    margin-top: 10px;
}

.main-content .anchor-content .page-main-container .data-grid-header {
    display: flex;
    justify-content: end;
}

.main-content .anchor-content .page-main-container .data-grid-header button {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.main-content .anchor-content .page-main-container .data-grid-header button:hover {
    border: 1px solid #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions {
    display: flex;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select {
    display: inline-block;
    position: relative;
    min-width: 100px;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .dropdown-content {
    display: block;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.15);
    float: none;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .actions {
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,.125);
    white-space: nowrap;
    cursor: pointer;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .actions::after {
    display: inline-block;
    margin-left: 1.25em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .actions:hover {
    border-color: #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .dropdown-content {
    display: none;
    margin-top: 1px;
    border-color: #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .dropdown-content.show {
    display: block;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .dropdown-content .dropdown-actions {
    display: flex;
    flex-direction: column;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .dropdown-content .dropdown-actions a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    color: #212529;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-actions-select .dropdown-content .dropdown-actions a:hover {
    background-color: #0f6fc5;
    color: #fff;
}

.main-content .anchor-content .page-main-container .data-grid-center {
    margin-right: auto;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages {
    display: flex;
    justify-content: end;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages div {
    margin-left: 5px;
}


/*pages select*/
.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select {
    display: inline-block;
    position: relative;
    min-width: 60px;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .dropdown-content {
    display: block;
    position: absolute;
    background-color: #fff;
    min-width: 60px;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.15);
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .current-pages {
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,.125);
    white-space: nowrap;
    cursor: pointer;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .current-pages::after {
    display: inline-block;
    margin-left: 0.9em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .current-pages:hover {
    border-color: #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .dropdown-content {
    display: none;
    margin-top: 1px;
    border-color: #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .dropdown-content.show {
    display: block;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .dropdown-content .dropdown-items {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .dropdown-content .dropdown-items a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    color: #212529;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pages-select .dropdown-content .dropdown-items a:hover {
    background-color: #0f6fc5;
    color: #fff;
}

/*end pages select*/

.main-content .anchor-content .page-main-container .data-grid-center {
    margin-right: auto;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages {
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .pages-item {
    margin-left: 5px;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pager .pager-button {
    padding: 8px 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba(0,0,0,.15);
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pager .pager-button:hover {
    border-color: #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pager .pager-button i {
    color: rgba(0,0,0,.75);;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pager input {
    min-height: 34px;
    line-height: 20px;
    border: 1px solid rgba(0,0,0,.15);
    max-width: 50px;
    vertical-align: middle;
    text-align: center;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pager input:hover {
    border-color: #eb5202;
}

.main-content .anchor-content .page-main-container .data-grid-actions .data-grid-pages .data-grid-pager input:focus {
    border: 1px solid #eb5202;
    border-radius: 0;
    outline: none;
}

/* table grid*/
.main-content .anchor-content .page-main-container .data-grid-content table {
    border: 1px solid rgba(0,0,0,.15);
    width: 100%;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr:first-child {
    background-color: #343a40;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr:first-child th {
    color: #fff;
    border-right: 1px solid #fff;
    padding: 5px 10px;
    white-space: wrap;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr:first-child th:last-child {
    border-right: none;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr:first-child th:first-child {
    text-align: center;
    width: 4em;
    min-width: 4em;
    max-width: 4em;
    word-break: break-all;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr td {
    border-right: 1px solid rgba(0,0,0,.15);
    padding: 5px 10px;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr td:first-child {
    text-align: center;
    width: 4em;
    min-width: 4em;
    max-width: 4em;
    word-break: break-all;
}

.main-content .anchor-content .page-main-container .data-grid-content table input[type='checkbox'] {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    outline: none;
    box-shadow: none;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr td a {
    text-decoration: none;
    color: #0f6fc5;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr td a:hover {
    text-decoration: underline;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr th:last-child {
    width: 6em;
    min-width: 6em;
    max-width: 6em;
    word-break: break-all;
    text-align: center;
}

.main-content .anchor-content .page-main-container .data-grid-content table tr td:last-child {
    text-align: center;
    width: 6em;
    min-width: 6em;
    max-width: 6em;
    word-break: break-all;
}

/* filter */

#form-filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

#form-filter .filter-detail {
    display: flex;
    justify-content: space-between;
}

#form-filter .filter-detail .filter-item .title {
    margin-bottom: 5px;
}

#form-filter .filter-detail .filter-item .select select {
    border: 1px solid rgba(0,0,0,.15);
    padding: 5px 10px;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#form-filter .filter-detail .filter-item .select select:focus {
    border: 1px solid #eb5202;
    border-radius: 0;
    outline: none;
}

#form-filter .filter-detail .filter-item .title {
    font-weight: 500;
}

#form-filter .filter-detail .filter-item input {
    width: 200px;
    border: 1px solid rgba(0,0,0,.15);
    padding: 5px 10px;
}

#form-filter .filter-detail .filter-item input:focus {
    border: 1px solid #eb5202;
    border-radius: 0;
    outline: none;
}

#form-filter .filter-apply {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

#form-filter .filter-apply button {
    width: 100px;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #343a40;
    height: 30px;
    color: #fff;
}

#form-filter .filter-apply button:hover {
    box-shadow: 0 0 0 1px #007bdb;
    background-color: #212529;;
}