.body {
    padding: 0 20px;
    color: #343a40;
}

.body .title {
    padding: 25px;
    border: 2px solid var(--border-color2);
    margin: 20px 0;
    border-radius: 6px;
}

.body .title .title-home {
    font-size: 31px;
    margin-bottom: 10px;
}

.content .main-content {
    margin: 0 0 15px 15px;
    border: 1px solid var(--border-color2);
    border-radius: 3px;
    padding: 30px 18px 20px;
    /* height: 100%; */
}

.content .main-content .main-content-title {
    margin: 0 18px;
    padding-bottom: 15px;
    font-size: 20px;
    border-bottom: 1px solid var(--border-color2);
}

.content .main-content .obj-item.examItem {
    margin: 5px 0 0 40px;
}

.content .main-content .list.list-class {
    background-color: #f8f9fa;
    padding: 10px 0;
    margin: 10px 15px;
    border-radius: 3px;
}