.body .content {
    margin-top: 20px;
}

.body .content .nav-bar {
    padding-right: 6px;
}

.body .content .nav-bar .questions button {
    margin-right: 4%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding: 3px 0;
    position: relative;
    background-color: snow;
}

.body .content .main-content {
    border: none;
    padding-top: 0;
    margin-bottom: 0;
}

.body .content .main-content .question {
    margin-bottom: 20px;
}

.body .content .main-content .question .question-description {
    background-color: #fafafa;
    border: 1px solid #343a40;
    border-radius: 3px;
    padding: 10px 15px;
    height: fit-content;
    margin-right: 35px;
}

.body .content .main-content .question .question-init {
    background-color: #dbe7fa;
    border-radius: 3px;
    padding: 10px 15px;
}

.body .content .main-content .question .question-init .question-hypothesis {
    font-size: 14px;
    margin-bottom: 10px;
}

.body .content .main-content .question .question-init .answers .answer {
    font-size: 14px;
    margin-bottom: 10px;
}

.body .content .main-content .question .question-init .answers .answer input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.body .content .main-content .btn-page {
    justify-content: space-between;
}

.body .content .btn-page button {
    background-color: #2196f3;
    text-align: center;
    color: aliceblue;
    padding: 8px 20px;
    font-weight: 700;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    transition: .2s;
}

.body .content .btn-page button:hover {
    background-color: cornflowerblue;
}

.body .content .btn-page button:disabled {
    background-color: darkgray;
}

.body .questions button.btn-ques.ques-focus {
    border: 2px solid #2196f3;
    font-weight: bold;
    color: black;
}

.body .questions button.btn-ques.ques-compl {
    background-color: #efefef;
}

.body .questions .flag-question-nav {
    width: 10px;
    height: 10px;
    position: absolute;
    transition: .1s;
    top: 0;
    right: 0;
}

.body .question .question-init .del-choice {
    text-align: end;
}

.body .question .question-init .del-choice button {
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: 1px solid var(--border-color2);
}

.body .question .question-init .del-choice button:hover {
    font-weight: bold;
    border: 1px solid var(--border-color);
}

.body .question .quesNum {
    position: relative;
}

.body .question .quesNum span {
    position: absolute;
    right: 0;
}