body {
    height: 100vh;
}

.background-img {
    /* background-image: url(../lib/image/bkhn-cau-vong.jpg);
    background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
}

.login {
    padding: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    position: absolute;
    top: 0;
    left: 0;
}

.login .login-background {
    vertical-align: middle;
}

.login .login-background img {
    width: 100%;
    height: 100%;
}

.login .login-form {
    align-items: center;
    justify-content: end;
}

.login .login-form .form-init {
    min-height: calc(100% - 205px);
    width: calc(100% - 50px);
    text-align: center;
    background-color: #8dd1e8;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 2px rgb(85 158 162 / 50%);
}

.login .login-form .form-init .form-title {
    margin-bottom: 50px;
    /* font-size: 50px; */
    text-align: center;
    /* color: white; */
    font-weight: bold;
    margin-top: 50px;
    align-items: center;
    padding-left: 50 px;
    justify-content: space-evenly;
}

.login .login-form .form-init .form-title p {
    font-size: 15px;
}

.login .login-form .form-init .form-title img {
    width: 50px;
}

.login .login-form .form-init .form-row {
    align-items: center;
    margin-top: 25px;
}

.login .login-form .form-init .form-row .input-text {
    /* color: white; */
    font-size: 15px;
    font-family: Notosans-Bold;
    /* text-align: left; */
}

.login .login-form .form-init .btn-login {
    width: 90px;
    height: 37px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    font-weight: bold;
    background-color: aliceblue;
    transition: .2s;
}

.login .login-form .form-init .btn-login:hover {
    background-color: cornflowerblue;
    color: white;
    border: none;
}

.login .login-form .form-init .role span {
    font-weight: bold;
    color: azure;
    cursor: default;
}

#emailLogin:hover~.invalid {
    visibility: visible;
}