.content .nav-bar .dashboard .my-course-init .subject {
    margin-left: 21px;
}

.body .content .main-content {
    /* background-color: #fafafa; */
}

.body .content .main-content .list-exam {
    padding-top: 15px 5px;
}

.body .content .main-content .list-exam .exam {
    margin-top: 15px;
}