.result-content {
    background-color: var(--border-color2);
    padding: 16px 20px;
    width: fit-content;
    margin: auto;
    margin-top: 16vh;
    border-radius: 3px;
    min-width: 440px;
}

.result-content .result-init .result-row{
    margin-top: 15px;
    font-size: 18px;
    /* margin-bottom: 35px; */
}

.result-content .res-title,
.result-content .res-content {
    text-align: start;
}

.result-content .to-home {
    margin-top: 25px;
}